td {
    height: 50px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}

tr:hover {
    background-color: #f5f5f5;
}

table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: central;
}

.button_td {
    border-color: white;
}

h1 {
    font-size: 200%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #336;
    margin-bottom: 5%;
}

img{
    width: 50px;
    height: 50px;
}

.deleteButton {
    display: inline-block;
    height: 54px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 54px;
    background-color: crimson;
    color: antiquewhite;
    font-size: 30px;
}