table, td, tr {
    text-align: center;
    table-layout: fixed;
}

.mainblock {
    width: 70%;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    /*border: 1px solid black;*/
}

.data {
    width: 100%;
    height: 30%;
    padding: 20px;
    border: 2px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
}

h1 {
    font-size: 200%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #336;
    margin-bottom: 3%;
}

td, th {
    padding: 15px;
    /*border: 1px solid black;*/
    word-wrap: break-word;
}

th {
    min-width: 150px;
    max-width: 150px;
}

td {
    min-width: 300px;
    max-width: 300px;
}

button {
    background-color: cornflowerblue;
    color: antiquewhite;
}
